body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="file"]:focus {
    outline: none;
    border-color: #2ecc71; /* Green shade */
}

#results h3 {
    margin-top: 20px;
    color: #2c3e50; /* Dark blue shade */
}

#results p {
    font-size: 16px;
    line-height: 1.5;
    background-color: #ecf0f1; /* Light grey shade */
    padding: 10px;
    border-left: 5px solid #2ecc71; /* Green shade */
    margin: 10px 0;
}

button {
    background-color: #2ecc71; /* Green shade */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #27ae60; /* A bit darker green shade */
}

button:active {
    background-color: #1e824c; /* Even darker green */
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2ecc71; /* Green shade */
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0; /* Resetting default margin */
    align-self: center;
}

#loadingMessage {
    margin-top: 20px;
    margin-bottom: 0; /* Resetting default margin */
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
